/* ------------------------- attachments index content_type (icons column) ------- */

table.list td.content_type {
 	width: 32px;
}

table.list td.filename {
 	text-align: left;
}

table.list td.description {
 	text-align: left;
}

table.list td.container {
 	text-align: left;
}

table.list td.project {
 	text-align: left;
}

a.icon_categorize {
	padding: 0px 0px 0px 17px;
}

a.icon_categorize.disabled {
	padding: 0px 0px 0px 17px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

a.icon_categorize:before {
	content: '\1f6a9';
	margin: 0px 0px 0px -17px;
}



