<h2><%= l(:label_query_new) %></h2>

<%= form_tag(@project ? project_issue_attachment_queries_path(@project) : issue_attachment_queries_path, :id => "query-form") do %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <%= submit_tag l(:button_save) %>
<% end %>
